#main-contents-login
  .main-top
    アカウントをお持ちでない方はこちら
    = link_to new_user_registration_path, class: "main-top__btn-registration" do
      新規会員登録
  .main-bottom
    .buttons
      = link_to user_facebook_omniauth_authorize_path, method: :post,class: "buttons__facebook" do
        = fa_icon 'facebook', class: "icon"
        Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post,class: "buttons__google" do
        = image_tag "googlelogo.jpg", class: "icon"
        Googleでログイン
    = form_with model: @user, url: user_session_path, class: 'form' do |f|
      = f.text_field :email, placeholder: 'メールアドレス', class: 'form__text'
      = f.text_field :password, placeholder: 'パスワード', class: 'form__text form__text--password', type: "password"
      .form__captcha
        私はロボットではありません
      = f.submit 'ログイン', class: "form__btn-login"
      = link_to "/", class: 'form__forget-password' do
        パスワードをお忘れの方