#main-contents-user-info
  .main-top
    会員情報入力
  .main-bottom
    %form.form
      .nickname
        %label.nickname__label
          ニックネーム
        %span.nickname__required
          必須
        %input.nickname__text{placeholder: '例)メルカリ太郎'}
      .mail-adress
        %label.mail-adress__label
          メールアドレス
        %span.mail-adress__required
          必須
        %input.mail-adress__text{placeholder: 'PC・携帯どちらでも可'}
      .password
        %label.password__label
          パスワード
        %span.password__required
          必須
        %input.password__text{placeholder: '7文字以上'}
      .password-confirmation
        %label.password-confirmation__label
          パスワード(確認)
        %span.password-confirmation__required
          必須
        %input.password-confirmation__text{placeholder: '7文字以上'}
      .identification
        %h3.identification__confirm
          本人確認
        %p.identification__paragraph
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .user-name
        %label.user-name__label
          お名前(全角)
        %span.user-name__required
          必須
        .box
          %input.box__text{placeholder: '例) 山田'}
          %input.box__text{placeholder: '例) 彩'}
      .user-name
        %label.user-name__label
          お名前カナ(全角)
        %span.user-name__required
          必須
        .box
          %input.box__text{placeholder: '例) ヤマダ'}
          %input.box__text{placeholder: '例) アヤ'}
      .birthday
        %label.birthday__label
          生年月日
        %span.birthday__required
          必須
        .box
          %select{name: "birth_year"}
            %option{value: "unselected"}
              = "--"
            - for i in (0..119) do
              %option{value: i}
                = "#{2019 - i}"
          年
          %select{name: "birth_month"}
            %option{value: "unselected"}
              \--
            - for i in (1..12) do
              %option{value: i}
                = i
          月
          %select{name: "birth_day"}
            %option{value: "unselected"}
              \--
            - for i in (1..31) do
              %option{value: i}
                = i
          日
      .notation
        ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .form__captcha
        私はロボットではありません
      .navigation
        「次へ進む」のボタンを押すことにより、
        %a{href: '/'}
          利用規約
        に同意したものとみなします
      %input.form__btn-login{type: 'submit', value: 'ログイン'}
      = link_to "/", class: 'form__forget-password' do
        本人情報の登録について
        = fa_icon 'angle-right'