#main-contents-creditcards
  .main-top
    支払い方法
  .main-bottom
    = form_with model: @creditcard, scope: "creditcard" , url: {action: "create"}, local: true, class: 'form' do |f|
      .one-form
        = f.label :curd_number, "カード番号", class: "one-form__label"
        %span.one-form__required
          必須
        = f.text_field :curd_number, class: 'one-form__text', placeholder: '半角数字のみ'
      .two-form
        = f.label "有効期限", class: 'two-form__label'
        %span.two-form__required
          必須
        .box
          %select{name: "valid_month", class:  'box__text'}
            %option{value: ""}
              \--
            - for i in (1..12) do
              %option{value: i}
                = i
          月
          %select{name: "valid_year", class:  'box__text'}
            %option{value: ""}
              = "--"
            - for i in (0..119) do
              %option{value: 2019 - i}
                = "#{2019 - i}"
          年
      .one-form
        = f.label :cvc, "セキュリティコード", class: "one-form__label"
        %span.one-form__required
          必須
        = f.text_field :cvc, class: 'one-form__text', placeholder: 'カード背面4桁もしくは3桁の番号'
      = f.submit '次へ進む', class: 'form__btn'


