= render 'shared/header'
= render 'shared/new_item_button'
.bread-crumbs
  - breadcrumb :edit
  = breadcrumbs separator: " &rsaquo; "
.main-content
  .left-side-menu
    = render 'shared/side_bar'
  .user-info_container
    = form_for "address" do |f|
      .user-info_container__header
        %h1 本人情報の登録
      .user-info_container__main
        .user-info_container__main--first
          %h4 お客さまの本人情報をご登録ください。
          %h4 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %h5 本人確認書類のアップロードについて>
        .user-info_container__main--second
          %label お名前
          %h5 
            = @user.name
        .user-info_container__main--second
          %label お名前カナ
          %h5
            = @user.name_kana
        .user-info_container__main--second
          %label 生年月日
          %h5 
            = @user.birth_date
        .user-info_container__main--third
          %label 郵便番号
          %span 任意
          = f.text_field :postcode, class:"text-box", placeholder: "例）1234567"
        .user-info_container__main--third
          %label 都道府県
          %span 任意
          = f.select :prefecture_id, Prefecture.all.collect{|p|[p.name,p.id]}, {prompt: "--"}, class:"select-box"
        .user-info_container__main--third
          %label 市区町村 
          %span 任意
          = f.text_field :city, class:"text-box", placeholder: "例）横浜市緑区"
        .user-info_container__main--third
          %label 番地
          %span 任意
          = f.text_field :address, class:"text-box", placeholder: "例）青山市1-1-1"
        .user-info_container__main--third
          %label 建物名
          %span 任意
          = f.text_field :building_name, class:"text-box", placeholder: "例）柳ビル103"
        .user-info_container__main--button
          = f.button "登録する", class: "registrate_button",type: "button"
        .user-info_container__main--link
          %h5 本人情報の登録について>

= render "shared/footer"



