= render 'shared/header'
= render 'shared/new_item_button'
-# 下記２行パンくず
-# - breadcrumb :mypage
-# = breadcrumbs separator: " &rsaquo; "
.groundwork
  .n-main-content
    .left-content
      = render 'shared/side_bar'
    .kright-content
      .my-page-container--upper
        %h2 支払い方法
      .my-page-container--center
        .my-page-container--center--inner
          .my-page-container--center--inner--upper
            %h3 クレジットカード一覧
          .my-page-container--center--inner--lower
            = link_to "#" do
              %span 
                %i.fa.fa-credit-card
              %h5 クレジットカードを追加する
      .my-page-container--lower
        .my-page-container--lower--inner
          = link_to "#" do
            %h6 支払い方法について >
            %span









