= render 'shared/header'
= render 'shared/new_item_button'
-# 下記２行パンくず
.bread-crumbs
  - breadcrumb :logout
  = breadcrumbs separator: " &rsaquo; "

.groundwork
  .n-main-content
    .left-content
      = render 'shared/side_bar'
    .right-content
      .l-single-inner
        .l-single-content
          = link_to "ログアウト", '/users/sign_out', class: 'btn-default btn-red',method:"DELETE"
          %input{:name => "__csrf_value", :type => "hidden", :value => "459d9dde17c7d60b6a40dbf7581377f666fe862e32d291906cfa400be5a09caf0a5bf7be612c4eca1f553f5369ea6c432ece5486506a5b438cfb0b2d904b70e16"}/
.footer