!!! 5
%html
%head
  %title  メルカリ
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %link{:href => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", :rel => "stylesheet"}/
  %link{href: "//www-mercari-jp.akamaized.net/favicon-16x16.png?3466462615", rel: "icon", sizes: "16x16", type: "image/png"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{:src => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
  = csrf_meta_tags
  = csp_meta_tag
%body
  = yield
