#main-contents-user-info
  .main-top
    会員情報入力
  .main-bottom
    -# = form_with model: @user, :url => {:action => :create}, local: true, class: 'form' do |f|
    = form_for @user,url:{controller:'users/registrations',action:'create'} , html: {class: "form"} do |f|
      .nickname
        = f.label :nickname, "ニックネーム", class: "nickname__label"
        %span.nickname__required
          必須
        = f.text_field :nickname, class: 'nickname__text', placeholder: '例)メルカリ太郎'
      .form-box
        = f.label :email, "メールアドレス", class:'form-box__label'
        %span.form-box__required
          必須
        = f.email_field :email, class: 'form-box__text', placeholder: 'PC・携帯どちらでも可'
      - if session["devise.sns_id"].blank?
        .form-box
          = f.label :password, "パスワード", class: 'form-box__label'
          %span.form-box__required
            必須
          = f.password_field :password, class: 'form-box__text', placeholder: '7文字以上'
        .form-box
          = f.label :password_confirmation, "パスワード(確認)", class: 'form-box__label'
          %span.form-box__required
            必須
          = f.password_field :password_confirmation, class: 'form-box__text', placeholder: '7文字以上'
      - else
        = f.hidden_field :password
        = f.hidden_field :password_confirmation
      .identification
        %h3.identification__confirm
          本人確認
        %p.identification__paragraph
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .user-name
        = f.label "お名前(全角)", class: "user-name__label"
        %span.user-name__required
          必須
        .box
          = f.text_field :last_name, class: 'box__text', placeholder: '例) 山田'
          = f.text_field :first_name , class: 'box__text', placeholder: '例) 彩'
      .user-name
        = f.label "お名前カナ(全角)", class: 'user-name__label'
        %span.user-name__required
          必須
        .box
          = f.text_field :last_name_kana , class: 'box__text', placeholder: '例) ヤマダ'
          = f.text_field :first_name_kana , class: 'box__text', placeholder: '例) アヤ'
      .birthday
        = f.label "生年月日", class: 'birthday__label'
        %span.birthday__required
          必須
        .box
          %select{name: "birth_year"}
            %option{value: ""}
              = "--"
            - for i in (0..119) do
              %option{value: 2019 - i}
                = "#{2019 - i}"
          年
          %select{name: "birth_month"}
            %option{value: ""}
              \--
            - for i in (1..12) do
              %option{value: i}
                = i
          月
          %select{name: "birth_day"}
            %option{value: ""}
              \--
            - for i in (1..31) do
              %option{value: i}
                = i
          日
      .notation
        ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .form__captcha
        私はロボットではありません
      .navigation
        「次へ進む」のボタンを押すことにより、
        %a{href: '/'}
          利用規約
        に同意したものとみなします
      = f.submit '次へ進む', class: 'form__btn-login'
      = link_to "/", class:   'form__forget-password' do
        本人情報の登録について
        = fa_icon 'angle-right'